.Nav {
  position: fixed; // 要素に位置を固定
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  z-index: 1; // 要素のスタック順序を指定する。値が大きい要素ほど上に表示される
  display: flex; // 要素をフレックスコンテナに配置する。ロゴを横並びに配置する
  justify-content: space-between; // フレックスコンテナ内のアイテム間に均等なスペースを配置する。最初のアイテムはコンテナの開始に、最後のアイテムは終了に

  // Animations
  transition-timing-function: ease-in; // トランジションのタイミング関数を定義します。ease-in は、開始時にゆっくりと動き、終了時に速度が上がる動き
  transition: all 0.5s; // 要素の全ての変更にトランジション効果を適用し、期間が0.5秒

  &-black {
    background-color: #111;
  }

  &-logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain; // <img>やビデオなどの置換要素に適用される。要素の内容（例：画像）が要素のボックス内に収まるように調整される
  }

    &-avater {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
  }
}